@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); /* Importing a Google font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Consistent box model */
  font-family: "Audiowide", sans-serif; /* Apply font */
}

/* Basic body styling */
body {
   background: #f4f4f4;
}

/* Game container styles */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  padding: 2rem 5rem;
  border-radius: 14px;
  background: #f4f4f4;
}

/* Styling result area */
.result_images {
  display: flex;
  gap: 7rem;
  justify-content: center;
}
.result {
  text-align: center;
  font-size: 2rem;
  color: #7d2ae8;
  margin: 1.5rem 0;
}

/* Option buttons styling */
.option_images {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}
.option_image img {
  width: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.option_image:hover {
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .result_images img {
    width: 80px;
  }
}
